@-webkit-keyframes jm-kf-marquee {

    to {
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@keyframes jm-kf-marquee {

    to {
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.jm-a-marquee {
    -webkit-animation-name: jm-kf-marquee;
    animation-name: jm-kf-marquee;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.jm-container {
    position: relative;
    height: 24px;
    margin: 0 auto;
    overflow: hidden;
}

.jm-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100%;
    white-space: nowrap;
}

.jm-wrapper > li {
    display: inline-block;
}