// ======== 按钮样式表 ========
@import "./variables.scss";
@import "./mixins.scss";

[class*="u-btn"] {
    @include setBgInit();
    display: inline-block;
    padding: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
}

button[class*="u-btn"] {
    &:focus {
        outline: none;
    }
}

// 文件上传按钮
.u-file-btn {
    display: inline-block;
    position: relative;
    overflow: hidden;

    input[type="file"] {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: -1;
    }
}