/* 辅助（功能）类
   ========================================================================== */

/**
 *  隐藏，不渲染
 */
.f-hide {
    display: none !important;
}

/**
 *  浮动
 */
.f-float-left {
    display: block;
    float: left;
}

.f-float-right {
    display: block;
    float: right;
}

/**
 *  清除浮动
 */
.f-clear-float:before,
.f-clear-float:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.f-clear-float:after {
    clear: both;
}

/**
 *  块居中
 */
.f-center {
    margin-left: auto;
    margin-right: auto;
}

/**
 *  外边距
 */
.f-no-margin {
    margin: 0 !important;
}

.f-no-margin-vertical {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.f-no-margin-horizontal {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.f-no-margin-left {
    margin-left: 0 !important;
}

.f-no-margin-right {
    margin-right: 0 !important;
}

.f-no-margin-top {
    margin-top: 0 !important;
}

.f-no-margin-bottom {
    margin-bottom: 0 !important;
}

/**
 *  内边距
 */
.f-no-padding {
    padding: 0 !important;
}

.f-no-padding-vertical {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.f-no-padding-horizontal {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.f-no-padding-left {
    padding-left: 0 !important;
}

.f-no-padding-right {
    padding-right: 0 !important;
}

.f-no-padding-top {
    padding-top: 0 !important;
}

.f-no-padding-bottom {
    padding-bottom: 0 !important;
}

/**
 *  display为block
 */
.f-block {
    display: block !important;
}

/**
 *  display为inline-block
 */
.f-iblock {
    display: inline-block !important;
    *zoom: 1 !important;
    *display: inline !important;
}

/**
 *  定位
 */
.f-relative {
    position: relative !important;
}

.f-absolute {
    display: block !important;
    position: absolute !important;
}

.f-fixed {
    display: block !important;
    position: fixed !important;
}

.f-static {
    position: static !important;
}

/**
 *  文本对齐
 */
.f-text-left {
    text-align: left !important;
}

.f-text-right {
    text-align: right !important;
}

.f-text-center {
    text-align: center !important;
}

/**
 * 文本换行
 * 1. 中英文混编时，英文单词可在中间断行
 * 2. 中英文混编时，英文单词整个断行
 */
.f-text-break-all {
    word-break: break-all; /* 1 */
}

.f-text-break-word {
    word-wrap: break-word; /* 2 */
}

/**
 *  文本单行显示
 */
.f-text-single-line {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/**
 *  文本下划线
 */
.f-text-under-line {
    text-decoration: underline;
}

/**
 *  文本粗细
 */
.f-text-bold {
    font-weight: bold;
}

.f-text-normal {
    font-weight: normal;
}

.f-text-lighter {
    font-weight: lighter;
}

/**
 *  形状
 */
.f-circle {
    border-radius: 50%;
    overflow: hidden;
}

/**
 *  文章详情内容
 */
.f-content {
    word-wrap: break-word;
    word-break: normal;
    text-align: justify;
}

.f-content img,
.f-content table,
.f-content video,
.f-content audio {
    max-width: 100% !important;
    height: auto !important;
}

/**
 *  固定伸缩
 */
.f-fixed-flex:before,
.f-fixed-flex:after {
    content: " ";
    display: table;
}

.f-fixed-flex:after {
    clear: both;
}

.f-fixed-flex .f-ff-left {
    float: left;
    margin-right: -100%;
}

.f-fixed-flex .f-ff-right {
    float: right;
    margin-left: -100%;
}

.f-fixed-flex .f-ff-auto {
    float: left;
    width: 100%;
}

/**
 *  flex布局常用
 */
.f-flex,
.f-fle-avg {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.f-flex > [class*="f-flex-"] {
    display: block !important;
}

/* 宽度自动占满剩余空间 */
.f-flex > .f-flex-1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
}

/* 宽度根据自身宽度而定 */
.f-flex > .f-flex-0 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
}

/* 内容等分 */
.f-flex-avg > .f-flex-avf-item {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}