/* 页面公共样式：模块
   ========================================================================== */
/**
 *  弹出浮窗
 */
[class*="m-modal"] {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    z-index: 15;
}