/* 页面公共样式：元件
   ========================================================================== */

/**
 *  icons
 */
[class*="u-icon"],
[class*="u-logo"] {
    display: inline-block;
    position: relative;
    top: -1px;
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    vertical-align: middle;
}

[class*="u-icon"].no-offset,
[class*="u-logo"].no-offset {
    top: 0;
}

/**
 *  btns
 */
[class*="u-btn"] {
    display: inline-block;
    background-image: none;
    border: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}
